.form{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}



.form-btn{
    color: white;
    background-color:rgb(26, 115, 232);
    height: 34px;
    border: none;
    border-radius: 2px;
    margin-left: 5px;
}

input{
    height: 30px;
    padding: 0;
}

.message{
    color: red;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.icon{
    width: 20px;
    height: 20px;
    
}